<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="LeadSuite" verbose="10" parallel="methods"  thread-count="4" >

    <listeners>
        <listener class-name="listeners.TestListener" />
        <listener class-name="listeners.AioTestListener"/>
    </listeners>

    <test name="AppTest Execution">
        <classes>
            <class name="example.TestApp" />
        </classes>
    </test>
</suite>
